<%- include("partials/header"); -%>

  <%  postsArr.forEach(function(post){ %>

    <% if(post.title === "Home") { %>
      <h1><%=post.title%></h1>
      <p>
        <%=post.content%>
      </p>
    <% } else  { %>
      <h1><%=post.title%></h1>
      <p>
        <%=post.content.substring(0, 1000) + " ..."%>
      <a href="/posts/<%=post._id%>">Read More</a>
      </p>
    <% } %>
    
    <% }) %>

<%- include("partials/footer"); -%>


