
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Daily Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">


    <!-- Favicons -->
<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="https://img.icons8.com/windows/32/000000/blog-logo.png" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css\dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-4" href="#">Daily Blog</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Contact Us</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Home
            </a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/compose">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                Publish article
              </a>
            </li>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/contact">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                Contact
              </a>
            </li>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/about">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                About Us
              </a>
            </li>
          </li>
        </ul>
      </div>
    </nav>
<br>
<br>
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="padding-top: 24px;">
      
        <%  postsArr.forEach(function(post){ %>
          <% if(post.title === "Home") { %>
            <h1 style="display: inline;"><%=post.title%></h1>
            <p>
              <%=post.content%>
            </p>
          <% } else  { %>  
              <h1 value="postTitle" ><%=post.title%></h1>
              <div style="display: -webkit-inline-box;">
                <a href="/<%=post._id%>/edit" class="btn btn-primary" style="margin: 0px 10px 10px 0;"> EDIT</a>
                <form action="/<%=post._id%>/?_method=DELETE" method="POST" style="margin: 0px 0 10px 0;"><button class="btn btn-outline-primary" >Delete</button></form>
              </div>
              <br>                
            <p>
              <%=post.content.substring(0, 100) + " ..."%>
            <a href="/posts/<%=post._id%>">Read More</a>
            </p>
          <% } %>
          
          <% }) %>


      <canvas class="my-4 w-100" id="myChart" width="900" height="170"></canvas>

          </div>
  </div>
</div>
<footer class="footer mt-auto py-3 bg-light">
</footer>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- JS to truncate paragraph -->
  <script type="text/javascript">
    var len = 100;
    var p = document.getElementById('truncateMe');
    if (p) {
    
      var trunc = p.innerHTML;
      if (trunc.length > len) {
    
        /* Truncate the content of the P, then go back to the end of the
           previous word to ensure that we don't truncate in the middle of
           a word */
        trunc = trunc.substring(0, len);
        trunc = trunc.replace(/\w+$/, '');
    
        /* Add an ellipses to the end and make it a link that expands
           the paragraph back to its original size */
        trunc += '<a href="#" ' +
          'onclick="this.parentNode.innerHTML=' +
          'unescape(\''+escape(p.innerHTML)+'\');return false;">' +
          '...<\/a>';
        p.innerHTML = trunc;
      }
    }
    
    </script>
</html>
